absl-py==0.8.1
altgraph==0.17
astor==0.8.0
backcall==0.1.0
Bashutils==0.0.4
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
data==0.4
decorator==4.4.1
funcsigs==1.0.2
future==0.18.2
gast==0.2.2
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.10.0
idna==2.9
imageio==2.8.0
imutils==0.5.3
ipython==7.11.1
ipython-genutils==0.2.0
jedi==0.16.0
joblib==0.14.0
jsonpatch==1.25
jsonpointer==2.0
kiwisolver==1.1.0
layers==0.1.5
Markdown==3.1.1
matplotlib==3.1.2
numpy==1.16.2
opencv-python==4.1.2.30
opt-einsum==3.1.0
pandas==0.25.3
parso==0.6.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==6.2.1
prompt-toolkit==3.0.3
protobuf==3.10.0
Pygments==2.5.2
PyInstaller==3.6
pyparsing==2.4.5
PyQt5==5.14.1
PyQt5-sip==12.7.1
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
PyYAML==5.1.2
pyzmq==19.0.1
qimage2ndarray==1.8.3
requests==2.23.0
scikit-learn==0.21.3
scipy==1.1.0
six==1.13.0
tensorboard==1.15.0
tensorflow-cpu-estimator==1.15.1
tensorflow-estimator==1.15.1
tensorflow-gpu==2.6.4
termcolor==1.1.0
torch==1.4.0
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.2.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
urllib3==1.25.9
visdom==0.1.8.9
wcwidth==0.1.8
websocket-client==0.57.0
Werkzeug==0.16.0
wrapt==1.11.2
